<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
		
	<bean id="newsDao" class="com.jung.news.dao.impl.NewsDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="newsHibernateDao" class="com.jung.news.dao.impl.NewsHibernateDaoImpl">
		<property name="template" ref="template"></property>
	</bean>
			
	<bean id="newsService" class="com.jung.news.service.impl.NewsServiceImpl">
		<property name="newsDao" ref="newsDao"/>
		<property name="newsHibernateDao" ref="newsHibernateDao"/>
	</bean>
	
</beans>
